/* Reset Css */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button{
    font: inherit;
    border: 0;

}
:root{

    --text-shadow-001: rgba(0,0,0,0.0001);
    --text-shadow-05: rgba(0,0,0,.05);
}
body{
    direction: rtl;
    line-height: 1;
    padding-top: 50px;
    font-size: 13px;
}

.header{

}
.up-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.up-header img{
    width: 164px;
    height: 64px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #000;

}
.nav .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

}
.cart{

}
.cart-png{
    width: 32px;
    height: 32px;
}

.product{
    box-shadow: 0 1px 0 rgba(0,0,0,0.5);
    margin-top: 5rem;
}
.pic{
    width: 250px;
    height: 250px;
    padding: 5px;
}
.pic img{
    width: 100%;
}
.info{
    padding-bottom: 2rem;
}
.name{
    font-size: 14px;
}
.price{
    font-size: 20px;
    margin: 0.5rem;
}
.btn-cart{
    background-color: #6c757d;
    color: #fff;
}
footer{
    margin-top: 3rem;
    text-align: center;
}

/* slider*/
#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
